* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
    height: 100%;
    --cube-size: 100px;
    --translate-by: calc(var(--cube-size) / 2);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bolder;
}

body {
    height: 100%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    transform: translateY(-100px);
}

.user-info {
    transform: translateY(-75px);
    text-align: center;
}

.super-cube {
    transform-style: preserve-3d;
}

.cube {
    position: relative;
    width: var(--cube-size);
    height: var(--cube-size);
    transform-style: preserve-3d;
    display: inline-block;
}

.face {
    width: inherit;
    height: inherit;
    background-color: red;
    position: absolute;
}

.face6 {
    transform: translateX(calc(var(--translate-by) * -1)) rotateY(90deg);
    background-color: green;
}

.face5 {
    transform: translateX(var(--translate-by)) rotateY(-90deg);
    background-color: blue;
}

.face4 {
    transform: translateY(calc(var(--translate-by) * -1)) rotateX(90deg);
    background-color: orange;
}

.face3 {
    transform: translateY(var(--translate-by)) rotateX(-90deg);
    background-color: magenta;
}

.face2 {
    transform: translateZ(var(--translate-by));
    background-color: indigo;
}

.face1 {
    transform: translateZ(calc(var(--translate-by) * -1));
}

.face:hover {
    background-color: lightblue;
}